* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111e28;

  color: white;
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #0d1117;
  width: 500px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

header img {
  width: 120px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.buttons-container a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.buttons-container .blue {
  background-color: #00a9e3;
}

.buttons-container .gray {
  background-color: #555;
}

hr.header {
  background-color: #00a9e3;
  height: 3px;
}
hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin: 20px 0;
}

.section-title {
  color: #00a9e3;
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.movie-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.movie-item img {
  width: 100%;
}

.movie-item h3 {
  text-align: center;
  margin-top: 10px;
}

footer {
  padding: 20px;
  text-align: center;
  color: #ccc;
}

footer .divider {
  border: none;
  height: 1px;
  background-color: #444;
  margin: 15px 0;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

footer nav a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}

footer nav a:hover {
  color: white;
}

footer nav a::after {
  content: "|";
  margin-left: 15px;
  color: #444;
}

.image-text-container {
  position: relative;
  margin: 20px auto;
}

.image-text-container img {
  width: 100%;
  display: block;
}

.floating-text-footer {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #979797;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  width: 200px;
}

.bienvenida {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
}

.social-icons img {
  width: 10%;
}
